Repository YAPP-Github/Reed-Android, pull requests merged in 2025-07, with the labels that each got.

#22 chore: Close Jira Issue 워크플로우 제거
  .github/workflows/close-jira-issue.yml
Labels: ⚙️ chore

#24 feat: 로그아웃 API 연동
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/AuthRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultAuthRepository.kt
  core/network/build.gradle.kts
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/TokenInterceptor.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/di/NetworkModule.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/di/RetrofitQualifier.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/AuthService.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/NoAuthService.kt
  feature/library/build.gradle.kts
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/HandleLibrarySideEffects.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryScreen.kt
  feature/library/src/main/res/values/strings.xml
Labels: ✨ feat

#30 feat: 유저 프로필 조회 API 연동
  build-logic/src/main/kotlin/AndroidFeatureConventionPlugin.kt
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/UserRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/di/RepositoryModule.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/mapper/ResponseToModel.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultUserRepository.kt
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/UserProfileModel.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/response/UserProfileResponse.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/AuthService.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryScreen.kt
  gradle/libs.versions.toml
Labels: ✨ feat

#42 feat: 설정 화면 UI 구현
  app/build.gradle.kts
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/component/divider/ReedDivider.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryScreen.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUiState.kt
  feature/settings/.gitignore
  feature/settings/build.gradle.kts
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsScreen.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUiState.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/component/LogoutConfirmationBottomSheet.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/component/WithdrawConfirmationBottomSheet.kt
  feature/settings/src/main/res/values/strings.xml
  screens/src/main/kotlin/com/ninecraft/booket/screens/Screens.kt
  settings.gradle.kts
Labels: ✨ feat

#45 feat: 오픈소스 라이선스 화면 UI 구현
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/extensions/Modifier.kt
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/component/appbar/ReedTopAppBar.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementScreen.kt
  feature/settings/build.gradle.kts
  feature/settings/src/main/assets/oss_licenses.json
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsScreen.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUiState.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/osslicenses/OssLicenseInfo.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/osslicenses/OssLicensesPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/osslicenses/OssLicensesScreen.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/osslicenses/OssLicensesUiState.kt
  feature/settings/src/main/res/values/strings.xml
  gradle/libs.versions.toml
  screens/src/main/kotlin/com/ninecraft/booket/screens/Screens.kt
Labels: ✨ feat

#46 feat: 도서 검색 화면 구성 및 도서 검색 API 연동
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/extensions/Modifier.kt
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/extensions/String.kt
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/BookRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/di/RepositoryModule.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/mapper/ResponseToModel.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultBookRepository.kt
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/component/NetworkImage.kt
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/component/ReedScaffold.kt
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/component/ReedTextField.kt
  core/designsystem/src/main/res/drawable/ic_placeholder.xml
  core/designsystem/src/main/res/values/strings.xml
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/BookDetailModel.kt
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/BookSearchModel.kt
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/UserProfileModel.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/response/BookDetailResponse.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/response/BookSearchResponse.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/NoAuthService.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryScreen.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginScreen.kt
  feature/main/build.gradle.kts
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/MainActivity.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/component/MainBottomBar.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/component/MainTab.kt
  feature/main/src/main/res/drawable/ic_home_tab.xml
  feature/main/src/main/res/drawable/ic_library_tab.xml
  feature/main/src/main/res/drawable/ic_search_tab.xml
  feature/main/src/main/res/drawable/ic_selected_home_tab.xml
  feature/main/src/main/res/drawable/ic_selected_library_tab.xml
  feature/main/src/main/res/drawable/ic_selected_search_tab.xml
  feature/search/build.gradle.kts
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchScreen.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchUiState.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/component/BookItem.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/component/InfiniteLazyColumn.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/component/LoadStateFooter.kt
  feature/search/src/main/res/values/strings.xml
  gradle/libs.versions.toml
Labels: ✨ feat

#48 refactor: 로그인/로그아웃 로직 개선
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/AuthRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/mapper/ResponseToModel.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultAuthRepository.kt
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/LoginModel.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginPresenter.kt
Labels: 🔨 refactor

#53 feat: 내서재의 로그아웃 기능을 설정 화면으로 이동
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/component/ReedDialog.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryScreen.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUiState.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsScreen.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsSideEffect.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUiState.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/component/LogoutConfirmationBottomSheet.kt
Labels: ✨ feat

#52 fix: 바텀 네비게이션이 보이지 않는 화면으로 이동할 때, 화면이 들썩거리는 문제 해결
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/component/ReedFullScreen.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginScreen.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementScreen.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/MainActivity.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/bottomnavigation/BottomNavigation.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/bottomnavigation/BottomNavigationPresenter.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/bottomnavigation/BottomNavigationUiState.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/bottomnavigation/DelegateNavigator.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/component/MainBottomBar.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/component/MainTab.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsScreen.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/osslicenses/OssLicensesScreen.kt
  screens/src/main/kotlin/com/ninecraft/booket/screens/Screens.kt
Labels: 🐞 fix

#58 feat: BottomNavigation 구현
  build-logic/src/main/kotlin/AndroidFeatureConventionPlugin.kt
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/component/ReedFullScreen.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomePresenter.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeScreen.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUiState.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryScreen.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginScreen.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementScreen.kt
  feature/main/build.gradle.kts
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/MainActivity.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/bottomnavigation/BottomNavigation.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/bottomnavigation/BottomNavigationPresenter.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/component/MainBottomBar.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/component/MainTab.kt
  feature/main/src/main/res/drawable/ic_home.xml
  feature/main/src/main/res/drawable/ic_home_tab.xml
  feature/main/src/main/res/drawable/ic_library.xml
  feature/main/src/main/res/drawable/ic_library_tab.xml
  feature/main/src/main/res/drawable/ic_search_tab.xml
  feature/main/src/main/res/drawable/ic_selected_home.xml
  feature/main/src/main/res/drawable/ic_selected_home_tab.xml
  feature/main/src/main/res/drawable/ic_selected_library.xml
  feature/main/src/main/res/drawable/ic_selected_library_tab.xml
  feature/main/src/main/res/drawable/ic_selected_search_tab.xml
  feature/screens/.gitignore
  feature/screens/build.gradle.kts
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/Screens.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchScreen.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsScreen.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/osslicenses/OssLicensesPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/osslicenses/OssLicensesScreen.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ✨ feat

#61 feat: 서비스이용약관, 개인정보처리방침 웹뷰 환경 구성
  app/build.gradle.kts
  app/src/main/kotlin/com/ninecraft/booket/di/CircuitModule.kt
  app/src/main/kotlin/com/ninecraft/booket/di/CrossFadeNavDecorator.kt
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/constants/WebViewConstants.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUi.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUi.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginUi.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementUi.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementUiState.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/Screens.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchUi.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUi.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUiState.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/osslicenses/OssLicensesUi.kt
  feature/webview/.gitignore
  feature/webview/build.gradle.kts
  feature/webview/src/main/kotlin/com/ninecraft/booket/feature/webview/WebViewPresenter.kt
  feature/webview/src/main/kotlin/com/ninecraft/booket/feature/webview/WebViewUi.kt
  feature/webview/src/main/kotlin/com/ninecraft/booket/feature/webview/WebViewUiState.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ✨ feat

#59 feat: 도서 검색화면 내 최근 검색어 기능 구현
  app/build.gradle.kts
  app/src/main/kotlin/com/ninecraft/booket/BooketApplication.kt
  core/data/api/build.gradle.kts
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/BookRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultAuthRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultBookRepository.kt
  core/datastore/api/src/main/kotlin/com/ninecraft/booket/core/datastore/api/datasource/RecentSearchDataSource.kt
  core/datastore/api/src/main/kotlin/com/ninecraft/booket/core/datastore/api/datasource/TokenDataSource.kt
  core/datastore/impl/build.gradle.kts
  core/datastore/impl/src/androidTest/java/com/ninecraft/booket/core/datastore/impl/TokenPreferenceDataSourceTest.kt
  core/datastore/impl/src/main/kotlin/com/ninecraft/booket/core/datastore/impl/datasource/DefaultRecentSearchDataSource.kt
  core/datastore/impl/src/main/kotlin/com/ninecraft/booket/core/datastore/impl/datasource/DefaultTokenDataSource.kt
  core/datastore/impl/src/main/kotlin/com/ninecraft/booket/core/datastore/impl/di/DataStoreModule.kt
  core/datastore/impl/src/main/kotlin/com/ninecraft/booket/core/datastore/impl/di/DataStoreQualifier.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/TokenAuthenticator.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/TokenInterceptor.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/HandleLibrarySideEffects.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/HandleLoginSideEffects.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginUiState.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/HandlingSearchSideEffect.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchUi.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchUiState.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/component/RecentSearchTitle.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/component/SearchItem.kt
  feature/search/src/main/res/values/strings.xml
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/HandlingSettingsSideEffect.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUi.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUiState.kt
Labels: ✨ feat

#65 feat: 내서재 동적 검색 API 연동 및 임시 도서 상세 화면 구현
  app/build.gradle.kts
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/BookRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/mapper/ResponseToModel.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultBookRepository.kt
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/LibraryModel.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/response/LibraryResponse.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/ReedService.kt
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/component/InfinityLazyColumn.kt
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/component/LoadStateFooter.kt
  core/ui/src/main/res/values/strings.xml
  feature/detail/.gitignore
  feature/detail/build.gradle.kts
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/BookDetailPresenter.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/BookDetailSideEffect.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/BookDetailUi.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/BookDetailUiState.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUi.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUiState.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/component/FilterChip.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/component/FilterChipGroup.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/component/LibraryBookItem.kt
  feature/library/src/main/res/values/strings.xml
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/Screens.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchUi.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchUiState.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/component/BookItem.kt
  feature/search/src/main/res/values/strings.xml
  settings.gradle.kts
Labels: ✨ feat

#73 feat: 독서 기록 플로우 화면 - 감상평, 감정선택 UI 구현
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/RecordStep.kt
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/component/RecordProgressBar.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/ReedService.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/component/ImpressionGuideBottomSheet.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/component/ImpressionGuideBox.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterUi.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterUiState.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/EmotionStep.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/ImpressionStep.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/QuoteStep.kt
  feature/record/src/main/res/values/strings.xml
Labels: ✨ feat

#72 feat: OCR 모듈 구성, 화면 및 기능 연동
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  core/ocr/.gitignore
  core/ocr/build.gradle.kts
  core/ocr/src/main/kotlin/com/ninecraft/booket/core/ocr/analyzer/LiveTextAnalyzer.kt
  core/ocr/src/main/kotlin/com/ninecraft/booket/core/ocr/analyzer/StillTextAnalyzer.kt
  core/ocr/src/main/kotlin/com/ninecraft/booket/core/ocr/analyzer/TextAnalyzer.kt
  core/ocr/src/main/kotlin/com/ninecraft/booket/core/ocr/di/OcrModule.kt
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/component/ReedTopAppBar.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/component/LibraryBookItem.kt
  feature/record/build.gradle.kts
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/ocr/OcrPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/ocr/OcrUi.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/ocr/OcrUiState.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/ocr/component/CameraFrame.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/ocr/component/SentenceBox.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterPresenter.kt
  feature/record/src/main/res/drawable/img_frame_marker.png
  feature/record/src/main/res/values/strings.xml
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/Screens.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/component/BookItem.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ✨ feat

#82 feat: 독서 기록 등록 API 연동 및 완료 화면 UI 구현
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/RecordRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/di/RepositoryModule.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/mapper/ResponseToModel.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultRecordRepository.kt
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/EmotionTag.kt
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/theme/Color.kt
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/RecordRegisterModel.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/request/RecordRegisterRequest.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/response/RecordRegisterResponse.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/ReedService.kt
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/component/ReedDialog.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailPresenter.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailSideEffect.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailUi.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailUiState.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/review/HandleReviewDetailSideEffect.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/review/ReviewDetailPresenter.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/review/ReviewDetailUi.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/review/ReviewDetailUiState.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/review/component/QuoteBox.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/review/component/ReviewBox.kt
  feature/detail/src/main/res/values/strings.xml
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomePresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/HandleRecordRegisterSideEffects.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterUi.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterUiState.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/EmotionStep.kt
  feature/record/src/main/res/values/strings.xml
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/Screens.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchPresenter.kt
Labels: ✨ feat
