Repository YAPP-Github/Reed-Android, pull requests merged in 2025-08, with the labels that each got.

#90 feat: 홈 화면 API 연동
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/HomeRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/di/RepositoryModule.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/mapper/ResponseToModel.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultHomeRepository.kt
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/HomeModel.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/response/HomeResponse.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/ReedService.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HandleHomeSideEffects.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomePresenter.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUi.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUiState.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/component/BookCard.kt
  feature/home/src/main/res/drawable/img_empty_book.png
Labels: ✨ feat

#94 fix: Dialog 혹은 BottomSheet를 통해 navigation 하는 경우 해당 컴포넌트가 닫히기 전 화면이 먼저 전환되는 문제 임시 해결
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterPresenter.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/extensions.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/SearchPresenter.kt
Labels: 🐞 fix

#96 feat: 그래픽 및 UI/UX 변경사항 적용
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/EmotionTag.kt
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/component/button/ButtonColorStyle.kt
  core/designsystem/src/main/res/drawable/img_emotion_joy.png
  core/designsystem/src/main/res/drawable/img_emotion_sadness.png
  core/designsystem/src/main/res/drawable/img_emotion_tension.png
  core/designsystem/src/main/res/drawable/img_emotion_warmth.png
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/component/HomeBanner.kt
  feature/home/src/main/res/drawable/img_home_seed.png
  feature/main/src/main/res/drawable/ic_library.xml
  feature/main/src/main/res/drawable/ic_selected_library.xml
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/component/ImpressionGuideBottomSheet.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/EmotionStep.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/ImpressionStep.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/QuoteStep.kt
  feature/record/src/main/res/values/strings.xml
Labels: ✨ feat

#97 feat: 자동 로그인 구현
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/AuthRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultAuthRepository.kt
  core/designsystem/src/main/res/values/strings.xml
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/AutoLoginState.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/splash/SplashPresenter.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/splash/SplashUiState.kt
Labels: ✨ feat

#105 feat: Firebase Crashlytics, GA 연동
  .github/workflows/android-ci.yml
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/kotlin/com/ninecraft/booket/initializer/FirebaseCrashlyticsInitializer.kt
  build-logic/build.gradle.kts
  build-logic/src/main/kotlin/AndroidFirebaseConventionPlugin.kt
  build-logic/src/main/kotlin/com/ninecraft/booket/convention/Plugins.kt
  build.gradle.kts
  gradle/libs.versions.toml
Labels: ✨ feat

#109 feat: 기록 상세 화면 API 연동
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/extensions/String.kt
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/RecordRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/mapper/ResponseToModel.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultRecordRepository.kt
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/RecordDetailModel.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/response/LibraryResponse.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/response/RecordDetailResponse.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/ReedService.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/RecordDetailPresenter.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/RecordDetailUi.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/RecordDetailUiState.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/component/ReviewBox.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/component/BookCard.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/component/LibraryBookItem.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterUi.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterUiState.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/component/BookItem.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/library/component/LibraryBookItem.kt
Labels: ✨ feat

#113 feat: 회원 탈퇴 API 연동
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/AuthRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultAuthRepository.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/ReedService.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsPresenter.kt
Labels: ✨ feat

#115 feat: Splash 화면 UI 구성 및 플로우 구현
  core/designsystem/build.gradle.kts
  core/designsystem/src/main/res/drawable/ic_dummy_splash.xml
  core/designsystem/src/main/res/values/colors.xml
  core/designsystem/src/main/res/values/splash.xml
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/ReedService.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailUi.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/RecordDetailUi.kt
  feature/home/build.gradle.kts
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomePresenter.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUi.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUiState.kt
  feature/library/build.gradle.kts
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUi.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUiState.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginUi.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementUi.kt
  feature/main/src/main/AndroidManifest.xml
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/MainActivity.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/bottomnavigation/BottomNavigationPresenter.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/bottomnavigation/BottomNavigationUi.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/bottomnavigation/BottomNavigationUiState.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/bottomnavigation/DelegateNavigator.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/splash/SplashPresenter.kt
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/splash/SplashUi.kt
  feature/main/src/main/res/drawable/ic_reed_logo.png
  feature/main/src/main/res/values/strings.xml
  feature/onboarding/src/main/kotlin/com/ninecraft/booket/feature/onboarding/OnboardingUi.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/ocr/OcrUi.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterUi.kt
  feature/screens/build.gradle.kts
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/Screens.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/component/MainBottomBar.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/component/MainTab.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/extensions/Navigator.kt
  feature/screens/src/main/res/drawable/ic_home.xml
  feature/screens/src/main/res/drawable/ic_library.xml
  feature/screens/src/main/res/drawable/ic_selected_home.xml
  feature/screens/src/main/res/drawable/ic_selected_library.xml
  feature/screens/src/main/res/values/strings.xml
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchUi.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/library/LibrarySearchUi.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUi.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/osslicenses/OssLicensesUi.kt
  feature/webview/src/main/kotlin/com/ninecraft/booket/feature/webview/WebViewUi.kt
Labels: ✨ feat

#118 feat: 에러 핸들링 및 공통 UI 처리
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/constants/ErrorDialogSpec.kt
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/constants/ErrorScope.kt
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/event/ErrorEventHelper.kt
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/utils/HandleException.kt
  core/ui/build.gradle.kts
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/component/ReedDialog.kt
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/component/ReedErrorUi.kt
  core/ui/src/main/res/values/strings.xml
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailPresenter.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailUi.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailUiState.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/component/RecordItem.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/RecordDetailPresenter.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/RecordDetailUi.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/RecordDetailUiState.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/component/ReviewBox.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomePresenter.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUi.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUiState.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUi.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUiState.kt
  feature/library/src/main/res/values/strings.xml
  feature/main/src/main/kotlin/com/ninecraft/booket/feature/main/MainActivity.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchUi.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchUiState.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/library/LibrarySearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/library/LibrarySearchUi.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/library/LibrarySearchUiState.kt
  feature/search/src/main/res/values/strings.xml
Labels: ✨ feat

#128 fix: 감상문 가이드 선택 후 문장 맨 앞으로 커서 이동이 안되는 문제 해결
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterUi.kt
Labels: 🐞 fix

#131 fix: 시스템 권한 팝업에서 허용 시 카메라 프리뷰 안보이는 문제 수정
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/ocr/OcrUi.kt
Labels: 🐞 fix

#133 refactor: emotionPairs chunked 연산 remember 적용
  build-logic/src/main/kotlin/com/ninecraft/booket/convention/ApplicationConstants.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/EmotionStep.kt
Labels: 🔨 refactor

#153 feat: 등록 도서 삭제 기능 구현
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/constants/ErrorDialogSpec.kt
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/BookRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultBookRepository.kt
  core/datastore/api/src/main/kotlin/com/ninecraft/booket/core/datastore/api/datasource/RecentSearchDataSource.kt
  core/datastore/impl/src/main/kotlin/com/ninecraft/booket/core/datastore/impl/datasource/DefaultBookRecentSearchDataSource.kt
  core/datastore/impl/src/main/kotlin/com/ninecraft/booket/core/datastore/impl/datasource/DefaultLibraryRecentSearchDataSource.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/TokenInterceptor.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/ReedService.kt
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/component/InfinityLazyColumn.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailPresenter.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailUi.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailUiState.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/component/DetailMenuBottomSheet.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/RecordDetailUiState.kt
  feature/detail/src/main/res/values/strings.xml
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUiState.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUiState.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterUi.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/ImpressionStep.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchUi.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchUiState.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/common/component/SearchItem.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/library/LibrarySearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/library/LibrarySearchUi.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/library/LibrarySearchUiState.kt
Labels: ✨ feat

#157 feat: Google Analytics 화면별, 이벤트별 태그 적용
  core/common/build.gradle.kts
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/analytics/AnalyticsHelper.kt
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/analytics/di/AnalyticsModule.kt
  core/ui/build.gradle.kts
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/component/InfinityLazyColumn.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailPresenter.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/card/RecordCardPresenter.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/RecordDetailPresenter.kt
  feature/edit/src/main/kotlin/com/ninecraft/booket/feature/edit/record/RecordEditPresenter.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomePresenter.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementPresenter.kt
  feature/onboarding/src/main/kotlin/com/ninecraft/booket/feature/onboarding/OnboardingPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/ocr/OcrPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/ocr/OcrUi.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/ImpressionStep.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/ScreenNames.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/Screens.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/library/LibrarySearchPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUi.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUiState.kt
  feature/splash/src/main/kotlin/com/ninecraft/booket/splash/SplashPresenter.kt
  gradle/libs.versions.toml
Labels: ✨ feat

#159 fix: 감상평 가이드 버튼이 키보드에 가려지는 문제 해결
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/step/ImpressionStep.kt
Labels: 🐞 fix

#162 fix: CD steps내에 versionName 추출 로직 변경
  .github/workflows/android-cd.yml
Labels: 🐞 fix

#167 release v1.1.1
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/extensions/Modifier.kt
  core/ui/src/main/kotlin/com/ninecraft/booket/core/ui/ReedScaffold.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterUi.kt
  gradle/libs.versions.toml
Labels: skip-ci

#174 feat: iOS와 로그인 플로우 통일(Guest Mode 구현)
  core/common/src/main/kotlin/com/ninecraft/booket/core/common/utils/UiText.kt
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/AuthRepository.kt
  core/data/api/src/main/kotlin/com/ninecraft/booket/core/data/api/repository/BookRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/mapper/ResponseToModel.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultAuthRepository.kt
  core/data/impl/src/main/kotlin/com/ninecraft/booket/core/data/impl/repository/DefaultBookRepository.kt
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/component/button/ButtonColorStyle.kt
  core/designsystem/src/main/kotlin/com/ninecraft/booket/core/designsystem/component/button/ReedTextButton.kt
  core/designsystem/src/main/res/values/strings.xml
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/BookSearchModel.kt
  core/model/src/main/kotlin/com/ninecraft/booket/core/model/UserState.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/TokenInterceptor.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/response/GuestBookSearchResponse.kt
  core/network/src/main/kotlin/com/ninecraft/booket/core/network/service/ReedService.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/book/BookDetailPresenter.kt
  feature/detail/src/main/kotlin/com/ninecraft/booket/feature/detail/record/RecordDetailPresenter.kt
  feature/edit/src/main/kotlin/com/ninecraft/booket/feature/edit/record/RecordEditPresenter.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomePresenter.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUi.kt
  feature/home/src/main/kotlin/com/ninecraft/booket/feature/home/HomeUiState.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/HandleLibrarySideEffects.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryPresenter.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUi.kt
  feature/library/src/main/kotlin/com/ninecraft/booket/feature/library/LibraryUiState.kt
  feature/library/src/main/res/values/strings.xml
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginPresenter.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginUi.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/login/LoginUiState.kt
  feature/login/src/main/kotlin/com/ninecraft/booket/feature/termsagreement/TermsAgreementPresenter.kt
  feature/login/src/main/res/values/strings.xml
  feature/onboarding/src/main/kotlin/com/ninecraft/booket/feature/onboarding/OnboardingPresenter.kt
  feature/record/src/main/kotlin/com/ninecraft/booket/feature/record/register/RecordRegisterPresenter.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/ScreenNames.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/Screens.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/component/MainBottomBar.kt
  feature/screens/src/main/kotlin/com/ninecraft/booket/feature/screens/extensions/Navigator.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchPresenter.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchUi.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/BookSearchUiState.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/book/HandleBookSearchSideEffect.kt
  feature/search/src/main/kotlin/com/ninecraft/booket/feature/search/library/LibrarySearchPresenter.kt
  feature/search/src/main/res/values/strings.xml
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsPresenter.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUi.kt
  feature/settings/src/main/kotlin/com/ninecraft/booket/feature/settings/SettingsUiState.kt
  feature/settings/src/main/res/values/strings.xml
  feature/splash/src/main/kotlin/com/ninecraft/booket/splash/SplashPresenter.kt
  gradle/libs.versions.toml
Labels: ✨ feat
