Repository YAPP-Github/Reed-Android, pull requests merged in 2025-06, with the labels that each got.

#3 chore: 프로젝트 초기 설정
  .editorconfig
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/android-ci.yml
  app/build.gradle.kts
  app/src/androidTest/java/com/ninecraft/booket/ExampleInstrumentedTest.kt
  app/src/main/java/com/ninecraft/booket/ui/theme/Type.kt
  app/src/main/kotlin/com/ninecraft/booket/MainActivity.kt
  app/src/main/kotlin/com/ninecraft/booket/ui/theme/Color.kt
  app/src/main/kotlin/com/ninecraft/booket/ui/theme/Theme.kt
  app/src/main/kotlin/com/ninecraft/booket/ui/theme/Type.kt
  app/src/test/java/com/ninecraft/booket/ExampleUnitTest.kt
  build-logic/build.gradle.kts
  build-logic/settings.gradle.kts
  build-logic/src/main/java/AndroidApplicationComposeConventionPlugin.kt
  build-logic/src/main/java/AndroidApplicationConventionPlugin.kt
  build-logic/src/main/java/AndroidFeatureConventionPlugin.kt
  build-logic/src/main/java/AndroidHiltConventionPlugin.kt
  build-logic/src/main/java/AndroidLibraryComposeConventionPlugin.kt
  build-logic/src/main/java/AndroidLibraryConventionPlugin.kt
  build-logic/src/main/java/JvmLibraryConventionPlugin.kt
  build-logic/src/main/java/KotlinLibrarySerializationConventionPlugin.kt
  build-logic/src/main/java/com/ninecraft/booket/convention/Android.kt
  build-logic/src/main/java/com/ninecraft/booket/convention/ApplicationConstants.kt
  build-logic/src/main/java/com/ninecraft/booket/convention/Compose.kt
  build-logic/src/main/java/com/ninecraft/booket/convention/Dependencies.kt
  build-logic/src/main/java/com/ninecraft/booket/convention/Extensions.kt
  build-logic/src/main/java/com/ninecraft/booket/convention/Plugins.kt
  build.gradle.kts
  detekt-config.yml
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ⚙️ chore

#6 chore: debug 추가
  .github/workflows/close-jira-issue.yml
Labels: 🐞 fix

#17 feat: DataStore 모듈 설계 및 암호화 기능 구현
  core/datastore/.gitignore
  core/datastore/build.gradle.kts
  core/datastore/src/androidTest/kotlin/com/ninecraft/booket/core/datastore/TokenPreferenceDataSourceTest.kt
  core/datastore/src/main/AndroidManifest.xml
  core/datastore/src/main/kotlin/com/ninecraft/booket/core/datastore/datasource/DefaultTokenPreferencesDataSource.kt
  core/datastore/src/main/kotlin/com/ninecraft/booket/core/datastore/datasource/TokenPreferencesDataSource.kt
  core/datastore/src/main/kotlin/com/ninecraft/booket/core/datastore/di/DataStoreModule.kt
  core/datastore/src/main/kotlin/com/ninecraft/booket/core/datastore/security/CryptoManager.kt
  core/datastore/src/main/kotlin/com/ninecraft/booket/core/datastore/util/DataStoreUtil.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: ✨ feat
